
:root{
    --xanh-duong: #018DE3;
    --xanh-ngoc: #B5D3EE;
    --xam: #A1A8BD;
    --tim-than: #112085;
    --nau: #884F3D;
    --xanh-dam: #2A71B2;
}
body{
    font-family: 'Readex Pro', sans-serif;
}

#div_tong{
    width: 100%;
    background-color: white;
    height: 1000px;
}

a:hover{
    color: var(--xanh-duong);
}

#div_trai{
    float: left;
    width: 20%;
    height: 100%;
}

#div_trai .menu{
    padding: 12px;
  }

#div_trai .menu h2 span{
    font-weight: bold;
    font-size: 150%;
}

#div_trai .menu .logo {
    color: var(--xanh-duong);
}

#div_trai ul, a{
    list-style-type: none;
    text-decoration: none;
    font-size: 25px;
}

#div_phai{
    float: right;
    height: 100%;
    width: 80%;
}
#div_phai > .tren{
    float: right;
    height: 20%;
    width: 100%;
}

#div_phai > .tren > .tim_kiem{
    float: right;
    height: 40%;
    width: 100%;
}

#div_phai > .tren > .tim_kiem > .tai_khoan{
    float: right;
    font-size: 20px;
    padding: 6px;
}

#div_phai > .tren > .tim_kiem > .icon {
    float: right;
    font-size: 18px;
    padding: 6px;
}

#div_phai > .tren > .don_hang{
    float: right;
    height: 60%;
    width: 100%;
    display: inline;
}

#div_phai > .tren > .don_hang .tinh_trang_don_hang{
    padding: 10px 22px;
    border: 1px hidden;
    box-sizing: border-box;
}

#div_phai > .tren > .don_hang li{
    display: inline-block;
}

#div_phai > .duoi{
    float: right;
    height: 80%;
    width: 100%;
}

/*#div_phai > .duoi > .phan_tu_so_1{*/
/*    float: right;*/
/*    height: 50%;*/
/*    width: 25%;*/
/*}*/
/*#div_phai > .duoi > .phan_tu_so_1 a{*/
/*    text-decoration: none;*/
/*}*/

/*#div_phai > .duoi > .phan_tu_so_1 > .kho_hang li{*/
/*    text-decoration: none;*/
/*    list-style-type: none;*/
/*    font-size: 26px;*/
/*    color: #3300FF;*/
/*}*/

#div_phai > .duoi > .phan_tu_so_2{
    float: left;
    height: 50%;
    width: 90%;
}

#div_phai > .duoi > .phan_tu_so_3{
    float: left;
    height: 50%;
    width: 65%;
}

#div_phai > .duoi > .phan_tu_so_3 > .trai_3{
    float: left;
    height: 100%;
    width: 50%;
}

#div_phai > .duoi > .phan_tu_so_3 > .phai_3{
    float: right;
    height: 100%;
    width: 50%;
}

#div_phai > .duoi > .phan_tu_so_3 > .phai_3 li{
    list-style-type: none;
}

#div_phai > .duoi > .phan_tu_so_4{
    float: right;
    height: 50%;
    width: 35%;
}


